<html>
    <head>
        <title>Nouveautés</title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;'>
        <style type="text/css">
            body {
                font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            }
            ul {
                padding-left: 30px;
            }
            li {
                font:-apple-system-body;
                margin-top: 5px;
            }
        </style>
    </head>
    <body>
        <ul>
            <li><b>Emails EPFL</b><br>PocketCampus peut automatiquement configurer l'app Mail pour y recevoir vos emails EPFL.<br>Allez dans les réglages PocketCampus depuis le menu principal, puis Email EPFL.</li>
            <li><b>VPN EPFL</b><br>PocketCampus peut automatiquement configurer le VPN de l'EPFL sur votre iPhone ou iPad.<br>Allez dans les réglages PocketCampus depuis le menu principal, puis VPN EPFL.</li>
        </ul>
    </body>
</html>
