<html>
    <head>
        <title>Nouveautés</title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;'>
        <style type="text/css">
            body {
                font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
                padding-right: 15px;
            }
            ul {
                padding-left: 30px;
            }
            li {
                font:-apple-system-body;
                margin-top: 5px;
            }
        </style>
    </head>
    <body>
        <ul>
            <li><b>Notes dans IS-Academia</b><br>Vos notes sont maintenant disponibles dans la partie Résultats d'IS-Academia.</li>
            <li><b>Moodle</b><br>La liste des documents s'ouvre maintenant à l'endroit où vous l'avez quittée.</li>
        </ul>
    </body>
</html>
