<html>
    <head>
        <title>Nouveautés</title>
    </head>
    <style type="text/css">
        body {
            font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
    
        h1 {
            font-size 18px:
            color: red;
        }
    
    </style>
    <body>
        <h1>Nouveautés de cette version</h1>
        <ul>
            <li><b>Emails EPFL</b><br>PocketCampus peut automatiquement configurer l'app Mail pour y recevoir les emails EPFL.</li>
        </ul>
    </body>
</html>
