#Tue Oct 16 18:24:05 CEST 2012
DB_USERNAME=pocketcampus
DB_PASSWORD=pHEcNhrKAZMS5Hdp
DB_URL=jdbc\:mysql\://pocketcampus.epfl.ch\:3306/pocketcampus
GCM_SERVER_KEY=AIzaSyBw2ORa_rjo4J8y1_2_MTtYSm6wqrxU8I0
JETTY_LOGFILES_PATH=/tmp
SSL_KEYSTORE_PASS=pocketcampus
SSL_KEYSTORE=../../../misc/certificate/ssl-keystore-pocketcampus
SSL_LISTEN_ON_PORT=4433
LISTEN_ON_PORT=9090
SSL_KEYMGR_PASS=pocketcampus
ENABLED_PLUGINS=Camipro,Moodle,Authentication,Food,Transport,News,Satellite,Map,Bikes,Directory
