#Tue Oct 16 20:50:21 HAEE 2012
SERVER_PROTOCOL=http
GCM_SENDER_ID=1234567890
SERVER_PORT=14610
GA_TRACKING_CODE=UA-123456-1
SERVER_ADDRESS=test-pocketcampus.epfl.ch
SDCARD_FILES_PATH=Android/data/org.pocketcampus/files
SERVER_URI=v3r1
ENABLED_PLUGINS=Camipro,Moodle,Food,Transport,News,Satellite,Map,Bikes,Directory,Events,QAforum,IsAcademia,RecommendedApps,FreeRoom
