#Tue Oct 16 20:50:21 HAEE 2012
SERVER_PROTOCOL=https
GCM_SENDER_ID=384589660983
SERVER_PORT=14611
GA_TRACKING_CODE=UA-22135241-5
SERVER_ADDRESS=pocketcampus.epfl.ch
SDCARD_FILES_PATH=Android/data/org.pocketcampus/files
SERVER_URI=v3r1
ENABLED_PLUGINS=Camipro,Moodle,Food,Transport,News,Satellite,Map,Bikes,Directory,Events,QAforum,IsAcademia,RecommendedApps,FreeRoom
