<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pocketcampus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:label="@string/app_name"
        android:name="org.pocketcampus.android.platform.sdk.core.GlobalContext"
        android:theme="@style/PocketCampusTheme" >
        <activity
            android:label="Test"
            android:name="org.pocketcampus.plugin.test.android.TestMainView" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Test"
            android:name="org.pocketcampus.plugin.test.android.TestOtherView" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.test.android.TestController" >
        </service>
    </application>

</manifest>