# Eclipse
/.metadata
local.properties
bin/
gen/
target/

# IntelliJ/Android studio
*.iml
*.eml
.idea/

# Merged projects
/android/PocketCampus
/server/PocketCampusServer
/server/PocketCampusServerTests

# OS X
.DS_Store

# iOS-specific stuff
/ios/PocketCampus/AutomationScripts/Instruments Device.trace
/ios/PocketCampus/AutomationScripts/Instruments Simulator.trace
/ios/PocketCampus/AutomationScripts/*.trace
/ios/PocketCampus/AutomationScripts/Credentials.js

# Visual Studio
*.suo
*.user
[Oo]bj/
[Bb]in/
TestResults/
[Pp]ackages/

# Windows Phone build artifacts
AppPackages/
BundleArtifacts/

# Secret files in the Windows Phone client
Windows/Source/Main.WindowsRuntime/analytics.xml
Windows/Source/Map.WindowsRuntime/MapToken.txt