
/.metadata

/html5/offline/log.log

/ios/iphone/PocketCampus/AutomationScripts/Instruments Device.trace
/ios/iphone/PocketCampus/AutomationScripts/Instruments Simulator.trace
/ios/iphone/PocketCampus/AutomationScripts/*.trace
/ios/iphone/PocketCampus/AutomationScripts/Credentials.js

/merged/*

/platform/launcher/platform.launcher.server/bin
/platform/launcher/platform.launcher.server/build
/platform/launcher/platform.launcher.server/*.log
/platform/launcher/platform.launcher.server/ssl-keystore-pocketcampus
/platform/launcher/platform.launcher.server/pkg/*.jar

/tool/tool.thriftcompiler/src/org/pocketcampus/tool/thriftcompiler/LocalConfig.java



android/PocketCampus/*
local.properties
*~
bin/
gen/
target/


