<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEV_SERVER_URL</key>
	<string>http://128.178.77.236:9090/v3r1/</string>
	<key>THRIFT_REQUEST_TIMEOUT</key>
	<integer>10</integer>
	<key>PROD_SERVER_URL</key>
	<string> http://pocketcampus.epfl.ch:443/v3r1/</string>
	<key>DEV_MODE</key>
	<true/>
</dict>
</plist>
