<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REQUEST_TIMEOUT</key>
	<integer>15</integer>
	<key>CONNECTIVITY_CHECK_TIMEOUT</key>
	<integer>15</integer>
	<key>DEV_MODE</key>
	<false/>
	<key>DEV_SERVER_PROTO</key>
	<string>http</string>
	<key>DEV_SERVER_ADDRESS</key>
	<string>128.178.77.236</string>
	<key>DEV_SERVER_PORT</key>
	<string>9090</string>
	<key>DEV_SERVER_VERSION</key>
	<string>v3r1</string>
	<key>DEV_ANALYTICS_TRACKINGCODE</key>
	<string>UA-123456-1</string>
	<key>PROD_SERVER_PROTO</key>
	<string>http</string>
	<key>PROD_SERVER_ADDRESS</key>
	<string>pocketcampus.epfl.ch</string>
	<key>PROD_SERVER_PORT</key>
	<string>443</string>
	<key>PROD_SERVER_VERSION</key>
	<string>v3r1</string>
	<key>PROD_ANALYTICS_TRACKINGCODE</key>
	<string>UA-22135241-3</string>
</dict>
</plist>
