<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.pocketcampus.plugin.recommendedapps"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15" />

    <application android:label="@string/app_name"
        android:icon="@drawable/recommendedapps_icon"
        android:name="org.pocketcampus.platform.android.core.GlobalContext"
        android:theme="@style/PocketCampusActionBarTheme"
        >
        
        
		<activity android:name="org.pocketcampus.plugin.recommendedapps.android.RecommendedAppsMainView"
			xmlns:android="http://schemas.android.com/apk/res/android"
			android:icon="@drawable/recommendedapps_icon"
			android:screenOrientation="nosensor"
			android:logo="@drawable/recommendedapps_icon_white"
			android:label="@string/recommendedapps_plugin_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="pocketcampus.intent.action.PLUGIN_MAIN" />
			</intent-filter>
		</activity>
		
						    
		<service android:name="org.pocketcampus.plugin.recommendedapps.android.RecommendedAppsController"
			xmlns:android="http://schemas.android.com/apk/res/android">
		</service>
		    		
	</application>
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>