.pc-header {
	background-color: #FF0000;
}


.ui-bar-a { 
	border: 1px solid #f2102a; 
	background:#e2001a; 
	color:#ffffff; 
	font-weight: bold; 
	text-shadow: 0 -1px 1px #f2102a; 
	background-image: -moz-linear-gradient(top, #f2102a, #e2001a); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f2102a),color-stop(1,#e2001a));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2102a', EndColorStr='#e2001a')";
}




#acc-center-dash {
	text-align: center;
	min-height: 400px;
}

#acc-dashboard {
	width: 100%;
	margin: 0px auto;
	display: block;
	clear: both;
	text-align: center;
}

.acc-dash-icon {
	display: block;
	padding: 15px 0px 15px 0px;
	float: left;
	margin-bottom: 15px;
}

.acc-dash-icon-img {
	padding: 0px 18px 0px 18px;
	width: 60px;
	height: 60px;
}

.acc-dash-icon-txt {
	font-size: 14px;
	text-align: center;
	display: block;
	color: #000;
	text-decoration: none;
}


