<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pocketcampus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:name="org.pocketcampus.android.platform.sdk.core.GlobalContext"
        android:theme="@style/PocketCampusTheme" >
        <activity
            android:icon="@drawable/events_icon"
            android:label="@string/events_plugin_title"
            android:name=".plugin.events.android.EventsMainView" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <action android:name="pocketcampus.intent.action.PLUGIN_MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".plugin.events.android.EventsPreferences" >
        </activity>
        <activity android:name=".plugin.events.android.EventsItemView" >
        </activity>

        <service
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.events.android.EventsController" >
        </service>
    </application>

</manifest>