DB_USERNAME=XXXXXXXX
DB_PASSWORD=XXXXXXXX
DB_URL=jdbc:mysql://localhost/pocketcampus
GCM_SERVER_KEY=XXXXXXXXXXXXXX
APNS_P12_PATH=XXXXXXXXXXX
APNS_P12_PASSWORD=XXXXXXXXXXX
APNS_PROD=false
JETTY_LOGFILES_PATH=/tmp
SSL_KEYSTORE_PASS=XXXXXXXXX
SSL_KEYSTORE=XXXXXXXXXX
SSL_LISTEN_ON_PORT=0
LISTEN_ON_PORT=9090
SSL_KEYMGR_PASS=XXXXXXXXXXX
ENABLED_PLUGINS=FreeRoom
BOT_EMAIL_ACCOUNT_USERNAME=XXXXXXXXXXX
BOT_EMAIL_ACCOUNT_PASSWORD=XXXXXXXXXXX
MOODLE_ACCESS_TOKEN=XXXXXXXXXXXXXXXXXXXXXX
ISA_SCHEDULE_URL=https://isa.epfl.ch/service/certified/student/timetable/period
FR_OCCUPANCIES=https://isatest.epfl.ch/services/timetable/reservations/
FR_ROOMS_LIST=https://pocketcampus.epfl.ch/proxy/archibus.php/rwsrooms/searchRooms?961264a174e15211109e1deb779b17d0=1&app=freeroom&caller=public&unitname=DAF%
FR_ROOM_DETAILS=http://pocketcampus.epfl.ch/proxy/archibus.php/rwsrooms/getRoom?961264a174e15211109e1deb779b17d0=1&app=freeroom&caller=sciper&id=
