DB_USERNAME=XXXXXXXXXX
DB_PASSWORD=XXXXXXXXXX
DB_URL=XXXXXXXXXXX
GCM_SERVER_KEY=XXXXXXXXXXXXXX
JETTY_LOGFILES_PATH=/tmp
SSL_KEYSTORE_PASS=XXXXXXXXX
SSL_KEYSTORE=XXXXXXXXXX
SSL_LISTEN_ON_PORT=0
LISTEN_ON_PORT=9090
SSL_KEYMGR_PASS=XXXXXXXXXXX
ENABLED_PLUGINS=Camipro,Moodle,Authentication,Food,Transport,News,Satellite,Map,Bikes,Directory,PushNotif,MyEdu
