<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pocketcampus.plugin.freeroom"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="org.pocketcampus.permissions.AUTHENTICATE_WITH_TEQUILA" />

    <application
        android:name="org.pocketcampus.android.platform.sdk.core.GlobalContext"
        android:icon="@drawable/freeroom_normal_icon"
        android:label="@string/app_name"
        android:theme="@style/PocketCampusTheme" >
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.views.FreeRoomHomeView"
            android:icon="@drawable/freeroom_normal_icon"
            android:label="@string/freeroom_plugin_title"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="pocketcampus.intent.action.PLUGIN_MAIN" />
            </intent-filter>

            <!-- Communication with authentication plugin -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="freeroom.plugin.pocketcampus.org"
                    android:scheme="pocketcampus-authenticate" />
            </intent-filter>

            <!-- Interception of epfl QR-code or website http://occupancy.epfl.ch/room -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="occupancy.epfl.ch"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.views.share.FreeRoomCopyClipBoard"
            android:icon="@drawable/copy"
            android:label="@string/freeroom_share_CopyClipBoard"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/org.pocketcampus.freeroom.text" />
            </intent-filter>
        </activity>
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomCourseSectionsView"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomCourseSectionResourcesView"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomEventsView"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomCurrentWeekView"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomSearchRoomsView"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomSearchRoomsResultView"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomCheckOccupancySearchView"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomCheckOccupancyResultView"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomManageFavoritesView"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomHomeView"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.views.FreeRoomSearchView"
            android:screenOrientation="nosensor" />
        <activity
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.views.ActualOccupationView"
            android:screenOrientation="nosensor" />

        <service
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomController" >
            <intent-filter>
                <action android:name="org.pocketcampus.plugin.authentication.AUTHENTICATION_FINISHED" />
                <action android:name="org.pocketcampus.plugin.authentication.LOGOUT" />

                <category android:name="org.pocketcampus.plugin.authentication" />

                <data
                    android:host="freeroom.plugin.pocketcampus.org"
                    android:scheme="pocketcampus" />
            </intent-filter>
        </service>

        <receiver android:name="org.pocketcampus.plugin.freeroom.android.FreeRoomController$Logouter" >
            <intent-filter>
                <action android:name="org.pocketcampus.plugin.authentication.LOGOUT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>