<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ThinMvvm" version="0.10.4.0" targetFramework="wpa81" />
  <package id="ThinMvvm.Logging" version="0.10.4.0" targetFramework="wpa81" />
  <package id="ThinMvvm.WindowsRuntime" version="0.10.4.0" targetFramework="wpa81" />
  <package id="ThriftSharp" version="2.3.1.0" targetFramework="wpa81" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="wpa81" />
</packages>