<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.pocketcampus" android:versionCode="1" android:versionName="1.0">
	<!-- android:installLocation="auto" -->

	<application android:theme="@style/Theme" android:icon="@drawable/app_icon" android:label="@string/app_name">

		<!-- Mainscreen Plugin -->
		<activity android:name=".plugin.mainscreen.MainscreenPlugin"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".plugin.mainscreen.MainscreenPreference" android:screenOrientation="portrait"></activity>
        <activity android:name=".plugin.mainscreen.MainscreenPluginPreference" android:screenOrientation="portrait"></activity>

		<!-- News Plugin -->
		<activity android:name=".plugin.news.NewsPlugin" android:screenOrientation="portrait"></activity>
		<activity android:name=".plugin.news.NewsPreference"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait"></activity>

		<!-- Food Plugin -->
		<activity android:name=".plugin.food.FoodPlugin" android:screenOrientation="portrait"></activity>
		<activity android:name=".plugin.food.FoodPreference" android:screenOrientation="portrait"></activity>
		<activity android:name=".plugin.food.Suggestions" android:screenOrientation="portrait"></activity>
		<activity android:name=".plugin.food.pictures.CameraCapture" android:screenOrientation="portrait"></activity>
		<!-- <activity android:name=".plugin.food.pictures.FoodPictureActivity" android:screenOrientation="portrait"></activity> -->

		<!-- Map Plugin -->
		<activity android:name=".plugin.map.MapPlugin"
		        android:configChanges="keyboardHidden|orientation"
		        android:screenOrientation="portrait">
				<meta-data android:name="android.app.default_searchable"
                	android:value=".plugin.map.search.MapSearchActivity" />
		</activity>
		<activity android:name=".plugin.map.search.MapSearchActivity"
				android:launchMode="singleTop"
				android:noHistory="true"
				android:screenOrientation="portrait">
			<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
       		</intent-filter>
        	<meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable"/>
		</activity>
		<!-- activity android:name="plugin.map.MapPreference"></activity> -->
		
		<!--  Directory (ldap) Plugin -->
		<activity android:name=".plugin.directory.DirectoryPlugin"></activity>
		<activity android:name=".plugin.directory.DirectoryPreference"></activity>
		<activity android:name=".plugin.directory.DirectoryConfiguration"></activity>
		
		<!--  Transport Plugin -->
		<activity android:name=".plugin.transport.TransportPlugin" android:screenOrientation="portrait"></activity>
		<activity android:name=".plugin.transport.TransportResults" android:screenOrientation="portrait"></activity>
		<activity android:name=".plugin.transport.TransportPreference" android:screenOrientation="portrait"></activity>

		<!-- Social Plugin -->
		<activity android:name=".plugin.social.SocialPlugin"></activity>
		<activity android:name=".plugin.social.SocialPreference"></activity>
			
		<!-- Camipro Plugin -->
        <activity android:name=".plugin.camipro.CamiproPlugin"></activity>
        <activity android:name=".plugin.camipro.TransactionsList" android:screenOrientation="portrait"></activity>
            
        <activity android:name=".plugin.bikes.BikesPlugin"></activity>
        <activity android:name=".plugin.authentication.AuthenticationPlugin"></activity>
        
        
        <!-- Used for install referrer tracking -->
		<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver" android:exported="true">
		  <intent-filter>
		    <action android:name="com.android.vending.INSTALL_REFERRER" />
		  </intent-filter>
		</receiver>
		<activity android:name=".plugin.social.SocialFriendsList"></activity>
		<activity android:name=".plugin.social.SocialFacebookFinder"></activity>
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	
	<uses-permission android:name="android.permission.CALL_PHONE" />
	
	<uses-sdk android:minSdkVersion="7" />
</manifest>