DB_USERNAME=XXXXXXXXXX
DB_PASSWORD=XXXXXXXXXX
DB_URL=XXXXXXXXXXX
GCM_SERVER_KEY=XXXXXXXXXXXXXX
APNS_P12_PATH=XXXXXXXXXXX
APNS_P12_PASSWORD=XXXXXXXXXXX
APNS_PROD=false
JETTY_LOGFILES_PATH=/tmp
SSL_KEYSTORE_PASS=XXXXXXXXX
SSL_KEYSTORE=XXXXXXXXXX
SSL_LISTEN_ON_PORT=0
LISTEN_ON_PORT=9090
SSL_KEYMGR_PASS=XXXXXXXXXXX
ENABLED_PLUGINS=Camipro,Moodle,Authentication,Food,Transport,News,Satellite,Map,Directory,PushNotif,IsAcademia,EdX,CloudPrint,Events,RecommendedApps,FreeRoom
BOT_EMAIL_ACCOUNT_USERNAME=XXXXXXXXXXX
BOT_EMAIL_ACCOUNT_PASSWORD=XXXXXXXXXXX
MOODLE_ACCESS_TOKEN=XXXXXXXXXXXXXXXXXXXXXX
ISA_SCHEDULE_URL=https://isa.epfl.ch/service/certified/student/timetable/period
IMPORT_FROM_MEMENTO=false
TRANSPORT_HAFAS_TOKEN=XXXXXXXX
TRANSPORT_USE_HAFAS=true
FOOD_RESTAURANTS_PHOTOS_FOLDER_LOCATION=/var/www/backend/restaurant-pics/
FOOD_RESTAURANTS_PICTURE_FILENAME_POSTFIX=
APACHE_SERVER_BASE_URL=http://pocketcampus.epfl.ch/
CLOUDPRINT_DUMP_DIRECTORY=cloudprint_files
CLOUDPRINT_CUPSPDF_OUTDIR=/tmp/CloudPrintPDF/
SERVER_URI_PREFIX=v3r1
FR_OCCUPANCIES=https://isa.epfl.ch/services/timetable/reservations/
FR_ROOMS_LIST=https://pocketcampus.epfl.ch/proxy/archibus.php/rwsrooms/searchRooms?961264a174e15211109e1deb779b17d0=1&app=freeroom&caller=public&unitname=DAF%
FR_ROOM_DETAILS=http://pocketcampus.epfl.ch/proxy/archibus.php/rwsrooms/getRoom?961264a174e15211109e1deb779b17d0=1&app=freeroom&caller=sciper&id=
