<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CamiproWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>PocketCampus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PocketCampusAutomatedTesting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>272300B31858CEB900B72F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E43959185F7A7A00D03974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32136F32193FBCFF002905A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3219EF4B14FCDE4900A271CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
