<html>
    <head>
        <title>About PocketCampus</title>
    </head>
    <style type="text/css">
    body {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        background-color: #ededed;
        color: #4d4d4d;
        text-shadow: 0px 1px 0px white;
        text-align: center;
    }

    a {
        color: #c20002;
    }

    h2 {
        margin-top: 27px;
        margin-bottom: 12px;
    }
        
    .undertitle {
        font-size: 10pt;
    }

    h4 {
        margin-top: 13px;
        margin-bottom: 5px;
    }

    p {
        margin-top: 0px;
    }

    </style>
    <body>
        <h2>PocketCampus</h2>
        <p class="undertitle">Version $PC_VERSION$ • EPFL-DSLAB</p>
        <h4 style="margin-top:7px;">Supervisor</h4>
        Prof. George Candea
        <h4>Developers</h4>
        <p>
        Loïc Gardiol<br>
        Amer Chamseddine<br>
        Silviu Andrica<br>
        Florian Laurent<br>
        </p>
        <h4>Visit us at</h4>
        <p><a href="http://pocketcampus.epfl.ch">http://pocketcampus.epfl.ch</a></p>
        <p style="margin-top: 20px; font-size:10pt;">PocketCampus is sponsored by<br>Google, Apple and EPFL VPAA</p>
        <br><br>
    </body>
</html>
