<html>
    <head>
        <title>What's new'</title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;'>
        <style type="text/css">
            body {
                font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            }
            ul {
                padding-left: 30px;
            }
            li {
                font:-apple-system-body;
                margin-top: 5px;
            }
        </style>
    </head>
    <body>
        <ul>
            <li><b>EPFL email</b><br>PocketCampus can automatically setup your EPFL email adress in the iOS Mail app.<br>Go to the PocketCampus settings from the main menu, then select EPFL email.</li>
            <li><b>EPFL VPN</b><br>PocketCampus can automatically setup EPFL VPN. The VPN allows you to access EPFL's internal network even when you are not on the campus.<br>Go to the PocketCampus settings from the main menu, then select EPFL VPN.</li>
        </ul>
    </body>
</html>
