<html>
    <head>
        <title>What's new'</title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;'>
        <style type="text/css">
            body {
                font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
                padding-right: 15px;
            }
            ul {
                padding-left: 30px;
            }
            li {
                font:-apple-system-body;
                margin-top: 5px;
            }
        </style>
    </head>
    <body>
        <ul>
            <li><b>Grades in IS-Academia</b><br>Your grades are now available in the IS-Academia section of the app.</li>
            <li><b>Moodle</b><br>The list of documents now opens where you leave it off.</li>
        </ul>
    </body>
</html>
