<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plugins</key>
	<array>
		<dict>
			<key>identifierName</key>
			<string>Authentication</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>logicOnly</key>
			<true/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>PushNotif</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>logicOnly</key>
			<true/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>CloudPrint</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>logicOnly</key>
			<true/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>Directory</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>Food</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>IsAcademia</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>News</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>Events</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>Map</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>Transport</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>Camipro</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>Moodle</string>
			<key>enabled</key>
			<true/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
		<dict>
			<key>identifierName</key>
			<string>RecommendedApps</string>
			<key>enabled</key>
			<false/>
			<key>hiddenByDefault</key>
			<false/>
			<key>supportedIdioms</key>
			<string>phone+pad</string>
		</dict>
	</array>
</dict>
</plist>
