<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CamiproWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CloudPrintAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PocketCampus (NSZombie).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PocketCampus (en).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PocketCampus (fr).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PocketCampus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PocketCampusAutomatedTesting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>272300B31858CEB900B72F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32136E87193F6934002905A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32136EB8193FAF91002905A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32136F32193FBCFF002905A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3219EF4B14FCDE4900A271CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322AC9A619C3AF3500BADA69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3297E180180818850047AD07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32B7314215C206540091757D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32E28092156E52ED00B74825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FF91D519C62F7A00559E1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
