/*-----------------------------------------------------------------------------------*/
/*	Start Global CSS
/*-----------------------------------------------------------------------------------*/

body{
	background:url(../images/foreground-bg.jpg) center 350px repeat-x;
	color: #555555;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: left;
}

h1.logo{
	position: absolute;
	top: 40px;
	left: 0;
	width: 231px;
	height: 257px;
	background: url("../images/lg.png") no-repeat;
	text-indent:-9999px;
}

#pocketcampus-logo {
    background: url("../images/pocketcampus-logo-400px.png") no-repeat;
    position: absolute;
    left: 30px;
    top: 90px;
    width: 200px;
    height: 200px;
    background-size: 100%;
}

a, a:visited, a:active{
	color: #379;
	text-decoration: none;
}

a:hover{
	color: #046;
}

#container{
	padding-bottom: 40px;
}

.wrapper{
	width: 870px;
	margin: 0 auto;
	position: relative;
}

.clear{
	clear:both;
}

.hide{
	display:none;
}

/*-----------------------------------------------------------------------------------*/
/*	Header
/*-----------------------------------------------------------------------------------*/

#header_support {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height:350px;
    width: 117%;
	background:url(../images/fabricBG2.jpg) repeat;
	border-bottom: 1px solid #E2E5E4;
	overflow: hidden;
	z-index: -10;
}

#header{
	height:350px;
	background:url(../images/fabricBG2.jpg) repeat;
	border-bottom: 1px solid #E2E5E4;
	overflow: hidden;
}

#header-main{
	background:url(../images/main_bg2.jpg) center top no-repeat;
	height:350px;
}

.replace{
	display: block;
	overflow: hidden;
	text-indent: -999em;
}

.pocketcampus_title {
    color:white;
    font-size: 170%;

    font-family: Helvetica;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.2);
}

.slogan {
    width: 250px;
    margin-top: 10px;
    border: 0px solid black;
}

#slogan_en {
    display: none;
}

#slogan_fr {
    display: none;
}		

.intro{
    position: relative;
	padding-top: 55px;
	width: 250px;
	margin-left: 285px;
	color: #A0B2B3;
	font-size:14px;
	line-height:22px;
	border: 0px solid black;
	height: 260px;
}

.intro p{
	margin: 0 0 20px;
}

.stores-block {
    position: absolute;
    bottom: -10px;
    width: 220px;
}

#app-store {
    display: block;
    background: url("../images/AppleAppStoreBadge.png");
    width: 196px;
    height: 45px;
    background-size: 100%;
}

#play-store {
    display: block;
    background: url("../images/GooglePlayStoreBadge.png");
    width: 196px;
    height: 45px;
    margin-top: 10px;
    background-size: 100%;
}

#windowsphone-store {
    display: block;
    background: url("../images/WindowsPhoneStoreBadge.png");
    width: 196px;
    height: 45px;
    margin-top: 10px;
    background-size: 100%;
}

#social-icons-top {
    position: absolute;
    left: 538px;
    top: 37px;
    font-size: 14px;
    z-index:1000;
}

#language-switch {
    position: absolute;
    text-align: right;
    right: 337px;
    top: 39px;
    font-size: 14px;
}

/*-----------------------------------------------------------------------------------*/
/*	iPhone / Slideshow
/*-----------------------------------------------------------------------------------*/

.slides, .slides li{
	margin: 0;
	padding: 0;
	list-style: none;
}

#android {
    position: absolute;
	top: -315px;
	left: 62%;
	width: 400px;
	height: 600px;
	/* background: url(../images/Nexus_empty.png) no-repeat; */
}

#iphone {
	position: absolute;
	display: none;
	top: -335px;
	left: 65%;
	width: 338px;
	height: 650px;
	/* background: url(../images/iPhone_empty.png) no-repeat; */
}

#ipad {
	position: absolute;
	display: none;
	top: -315px;
	left: 67%;
	width: 450px;
	height: 650px;
	/* background: url(../images/iPhone_empty.png) no-repeat; */
}

#windowsphone {
	position: absolute;
	display: none;
	top: -280px;
	left: 68%;
	width: 310px;
	height: 539px;
	/* background: url(../images/iPhone_empty.png) no-repeat; */
}


.screenshot-android {
    width: 400px;
    height: 600px;
}

.screenshot-iphone {
    width: 338px;
    height: 650px;
}

.screenshot-ipad {
    width: 450px;
    height: 650px;
}

.screenshot-windowsphone {
    width: 310px;
	height: 539px;
}

.slides li{
	display: none;
}

#homebutton{
    display: block;
    height: 50px;
    left: 110px;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    top: 447px;
    width: 50px;
}

/*-----------------------------------------------------------------------------------*/
/*	Tabs + Tab Content
/*-----------------------------------------------------------------------------------*/

.panel{
	width:520px;
	overflow:hidden;
}

.top_text{
	font-size: 11pt;
	line-height: 1.5;
}

.panel.hide{
	display:none;
}

#content{
	padding-top: 35px;
	margin-left: 25px;
}

.new_icon {
    background: url("../images/new_icon.png");
    background-size: 100%;
	background-repeat: no-repeat;
    width: 25px;
    height: 13px;
    display: none;
}

#new_icon_windowsphone {
    position: absolute;
    top: 25px;
    left: 300px;
}

#tabs{
	margin:0 0 30px 0;
	margin-left: -50px;
}

#tabs li{
	display:block;
	float:left;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:5px 10px 6px;
	cursor:pointer;
	color:#363F4F;
}


#tabs li:hover{
	color:#363F4F;
}

#tabs li.current{
	color:#D1D6DF;
	background:url(../images/bg_activetab.png) repeat-x scroll center center transparent;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 1px 0px #4C4E53;
	-moz-box-shadow: 0px 1px 0px #4C4E53;
	box-shadow: 0px 1px 0px #D1D6DF;
}

.latest_info {
    /* display: none; */
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    line-height: 15pt;
    color: #3D3D3D;
    text-shadow: 0px 0px 3px rgba(255,255,255,0.5);
    margin-bottom: 30px;
}

.features, .features li{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0px solid black;
}

.features li{
	font-size: 13px;
	width: 220px;
	float: left;
	margin-right: 40px;
	padding-bottom: 40px;
	line-height:20px;
}

.features h2{
	color: #2D3D3A;
	font-size: 18px;
	padding: 0 0 0 36px;
	margin: 0 0 7px 0;
	height:28px;
	line-height:26px;
	overflow:hidden;
	background-size: 28px 28px;
}

.features p{
	color: #555;
	margin: 0;
}

#testimonials li{
	margin:10px 0 50px 0;
}

#testimonials .testimonial{
	color:#D1D6DF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-style:italic;
	line-height:22px;
	background:url(../images/testimonial_bg.png) top repeat-x;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding:9px 15px;
	text-shadow: 1px 1px 0px #38373F;
	filter: dropshadow(color=#38373F, offx=1, offy=1);
	cursor:default;
}

#testimonials .testimonial:hover{
	color:#dadee5;
}

#testimonials .testimonial_source{
	text-align:right;
	color: #379;
	padding:5px 4px 0 0;
	font-size:11px;
}

.icon-preview{
	float:left;
	margin:0px 10px 20px 10px;
}


/*-----------------------------------------------------------------------------------*/
/*	Contribute
/*-----------------------------------------------------------------------------------*/


.contribute_header_text {
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    line-height: 15pt;
    color: #3D3D3D;
    text-shadow: 0px 0px 3px rgba(255,255,255,0.5);
}

.contribute_text {
    font-size: 9pt;
    line-height: 12pt;
    margin-top: 15px;
    margin-bottom: 100px;
} 

.contribute_text h2 {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #2D3D3A;
    margin-top: 15px;
    margin-bottom: 10px;
} 

/*-----------------------------------------------------------------------------------*/
/*	Footer
/*-----------------------------------------------------------------------------------*/

#footer{
	background: url("../images/divider.png") top center no-repeat;
	overflow: hidden;
	padding:30px 0 0 0;
	font-size:11px;
}

#footer-right{
	float:right;
}

#footer .footer-left{
	line-height:20px;
}

#footer-subscribe{
	background: url("../images/subscribe_bg.png") no-repeat scroll 0 0 transparent;
	width:311px;
	height:35px;
}

#footer-subscribe #email{
    background:none repeat scroll 0 0 transparent;
    border:none;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    height: 25px;
    line-height: 2.4em;
    padding: 5px 0 5px 10px;
    width: 245px;
	color:#fff;
}

#footer-subscribe #email-submit{
    background:none repeat scroll 0 0 transparent;
    border:none;
    cursor:pointer;
    display:block;
    float:right;
    font-size:0;
    height:35px;
    line-height:0;
    text-indent:-9999px;
    width:50px;
}

#social-icons{
	margin:10px 0 0 0;
	text-align:right;
	padding:0 3px 0 0;
}

#social-icons a{
	margin:0 0 0 11px;
}

.outer-center {
    float: right;
    right: 50%;
    position: relative;
}

.inner-center {
    float: right;
    right: -50%;
    position: relative;
}

/*-----------------------------------------------------------------------------------*/
/*	Feature Icon Classes
/*-----------------------------------------------------------------------------------*/

.features h2.alarm{background:url(../images/icons/alarm.png) left center no-repeat;}
.features h2.arrowdown{background:url(../images/icons/arrowdown.png) left center no-repeat;}
.features h2.arrowleft{background:url(../images/icons/arrowleft.png) left center no-repeat;}
.features h2.arrowright{background:url(../images/icons/arrowright.png) left center no-repeat;}
.features h2.arrowup{background:url(../images/icons/arrowup.png) left center no-repeat;}
.features h2.bank{background:url(../images/icons/bank.png) left center no-repeat;}
.features h2.briefcase{background:url(../images/icons/briefcase.png) left center no-repeat;}
.features h2.calculator{background:url(../images/icons/calculator.png) left center no-repeat;}
.features h2.camera{background:url(../images/icons/camera.png) left center no-repeat;}
.features h2.clapboard{background:url(../images/icons/clapboard.png) left center no-repeat;}
.features h2.clock{background:url(../images/icons/clock.png) left center no-repeat;}
.features h2.connections{background:url(../images/icons/connections.png) left center no-repeat;}
.features h2.credit_card{background:url(../images/icons/credit_card.png) left center no-repeat;}
.features h2.database{background:url(../images/icons/database.png) left center no-repeat;}
.features h2.delete{background:url(../images/icons/delete.png) left center no-repeat;}
.features h2.delivery{background:url(../images/icons/delivery.png) left center no-repeat;}
.features h2.disk{background:url(../images/icons/disk.png) left center no-repeat;}
.features h2.eject{background:url(../images/icons/eject.png) left center no-repeat;}
.features h2.fastforward{background:url(../images/icons/fastforward.png) left center no-repeat;}
.features h2.filter{background:url(../images/icons/filter.png) left center no-repeat;}
.features h2.fire{background:url(../images/icons/fire.png) left center no-repeat;}
.features h2.first_aid{background:url(../images/icons/first_aid.png) left center no-repeat;}
.features h2.folder{background:url(../images/icons/folder.png) left center no-repeat;}
.features h2.forwardtoend{background:url(../images/icons/forwardtoend.png) left center no-repeat;}
.features h2.games{background:url(../images/icons/games.png) left center no-repeat;}
.features h2.graph{background:url(../images/icons/graph.png) left center no-repeat;}
.features h2.heart{background:url(../images/icons/heart.png) left center no-repeat;}
.features h2.house{background:url(../images/icons/house.png) left center no-repeat;}
.features h2.lightbulb{background:url(../images/icons/lightbulb.png) left center no-repeat;}
.features h2.magnet{background:url(../images/icons/magnet.png) left center no-repeat;}
.features h2.magnifyingglass{background:url(../images/icons/magnifyingglass.png) left center no-repeat;}
.features h2.mailclosed{background:url(../images/icons/mailclosed.png) left center no-repeat;}
.features h2.mailopened{background:url(../images/icons/mailopened.png) left center no-repeat;}
.features h2.man{background:url(../images/icons/man.png) left center no-repeat;}
.features h2.minus{background:url(../images/icons/minus.png) left center no-repeat;}
.features h2.monitor{background:url(../images/icons/monitor.png) left center no-repeat;}
.features h2.move{background:url(../images/icons/move.png) left center no-repeat;}
.features h2.newspaper{background:url(../images/icons/newspaper.png) left center no-repeat;}
.features h2.padlock{background:url(../images/icons/padlock.png) left center no-repeat;}
.features h2.page{background:url(../images/icons/page.png) left center no-repeat;}
.features h2.pause{background:url(../images/icons/pause.png) left center no-repeat;}
.features h2.pencilangled{background:url(../images/icons/pencilangled.png) left center no-repeat;}
.features h2.pencilstraight{background:url(../images/icons/pencilstraight.png) left center no-repeat;}
.features h2.photos{background:url(../images/icons/photos.png) left center no-repeat;}
.features h2.piggy{background:url(../images/icons/piggy.png) left center no-repeat;}
.features h2.play{background:url(../images/icons/play.png) left center no-repeat;}
.features h2.plus{background:url(../images/icons/plus.png) left center no-repeat;}
.features h2.preferences{background:url(../images/icons/preferences.png) left center no-repeat;}
.features h2.record{background:url(../images/icons/record.png) left center no-repeat;}
.features h2.refresh{background:url(../images/icons/refresh.png) left center no-repeat;}
.features h2.reload{background:url(../images/icons/reload.png) left center no-repeat;}
.features h2.rewind{background:url(../images/icons/rewind.png) left center no-repeat;}
.features h2.rewindtostart{background:url(../images/icons/rewindtostart.png) left center no-repeat;}
.features h2.rss{background:url(../images/icons/rss.png) left center no-repeat;}
.features h2.safe{background:url(../images/icons/safe.png) left center no-repeat;}
.features h2.scales{background:url(../images/icons/scales.png) left center no-repeat;}
.features h2.shoppingcart{background:url(../images/icons/shoppingcart.png) left center no-repeat;}
.features h2.speaker{background:url(../images/icons/speaker.png) left center no-repeat;}
.features h2.speechbubble{background:url(../images/icons/speechbubble.png) left center no-repeat;}
.features h2.speechmedia{background:url(../images/icons/speechmedia.png) left center no-repeat;}
.features h2.star{background:url(../images/icons/star.png) left center no-repeat;}
.features h2.trash{background:url(../images/icons/trash.png) left center no-repeat;}
.features h2.trend{background:url(../images/icons/trend.png) left center no-repeat;}
.features h2.world{background:url(../images/icons/world.png) left center no-repeat;}

.features h2.directory{background:url(../images/glyphish/directory.png) left center no-repeat;}
.features h2.news{background:url(../images/glyphish/news.png) left center no-repeat;}
.features h2.map{background:url(../images/glyphish/map.png) left center no-repeat;}
.features h2.print{background:url(../images/glyphish/print.png) left center no-repeat;}
.features h2.transport{background:url(../images/glyphish/transport.png) left center no-repeat;}
.features h2.moodle{background:url(../images/glyphish/moodle.png) left center no-repeat;}
.features h2.bikes{background:url(../images/glyphish/bikes.png) left center no-repeat;}
.features h2.menus{background:url(../images/glyphish/menus.png) left center no-repeat;}
.features h2.group{background:url(../images/glyphish/group.png) left center no-repeat;}
.features h2.contact{background:url(../images/glyphish/contact.png) left center no-repeat;}
.features h2.camipro{background:url(../images/glyphish/camipro.png) left center no-repeat;}
.features h2.satellite{background:url(../images/glyphish/satellite.png) left center no-repeat;}
.features h2.events{background:url(../images/glyphish/events.png) left center no-repeat;}
.features h2.isacademia{background:url(../images/glyphish/isacademia.png) left center no-repeat;}

.features h2.globe{background:url(../images/glyphish/globe.png) left center no-repeat;}

.features h2.freeroom{background:url(../images/glyphish/freeroom.png) left center no-repeat; background-size: 7%;}
.features h2.microphone{background:url(../images/glyphish/microphone.png) left center no-repeat; background-size: 7%;}
.features h2.noqueue{background:url(../images/glyphish/noqueue.png) left center no-repeat; background-size: 13%;}


