<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.pocketcampus.plugin.qaforum"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:label="@string/app_name"
        android:theme="@style/PocketCampusTheme"
        android:icon="@drawable/qaforum_icon"
        android:name="org.pocketcampus.android.platform.sdk.core.GlobalContext">
        
        
		<activity android:name="org.pocketcampus.plugin.qaforum.android.QAforumMainView"
			xmlns:android="http://schemas.android.com/apk/res/android"
			android:icon="@drawable/qaforum_icon"
			android:screenOrientation="nosensor"
			android:label="@string/qaforum_plugin_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="pocketcampus.intent.action.PLUGIN_MAIN" />
			</intent-filter>    
			    
		</activity>
		
		
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.MessageActivity" android:noHistory="true"  android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.HelpActivity"  android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.LatestQuestionListActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.PendingNotificationActivity" android:screenOrientation="nosensor"/>

		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.SettingActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.RelationActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.MyQuestionActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.MyQuestionListActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.MyAnswerActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.MyAnswerListActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.InformationActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.ReportActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.AskActivity" android:screenOrientation="nosensor"/>
			
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.AnswerActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.QuestionActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.QuestionListActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.FeedbackListActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.AnswerListActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.FeedbackActivity" android:screenOrientation="nosensor"/>
		
		<activity android:name="org.pocketcampus.plugin.qaforum.android.activity.RequestActivity" android:screenOrientation="nosensor"/>
		
		
						    
		<service android:name="org.pocketcampus.plugin.qaforum.android.QAforumController"
			xmlns:android="http://schemas.android.com/apk/res/android">
			<intent-filter>
				<action android:name="org.pocketcampus.plugin.authentication.AUTHENTICATION_FINISHED" />
				<action android:name="org.pocketcampus.plugin.authentication.LOGOUT" />
				<category android:name="org.pocketcampus.plugin.authentication" />
				<data  android:scheme="pocketcampus" android:host="qaforum.plugin.pocketcampus.org" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="org.pocketcampus.plugin.pushnotif.REGISTRATION_FINISHED" />
				<action android:name="org.pocketcampus.plugin.pushnotif.PUSHNOTIF_MESSAGE" />
				<category android:name="org.pocketcampus" />
				<data  android:scheme="pocketcampus" android:host="qaforum.plugin.pocketcampus.org" />
			</intent-filter>
		    		    
		</service>

		<receiver android:name="org.pocketcampus.plugin.qaforum.android.QAforumController$Logouter" >
            <intent-filter>
                <action android:name="org.pocketcampus.plugin.authentication.LOGOUT" />
            </intent-filter>
        </receiver>
		    		
	</application>
	
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="org.pocketcampus.permissions.USE_PC_PUSHNOTIF" />
	<uses-permission android:name="org.pocketcampus.permissions.AUTHENTICATE_WITH_TEQUILA" />
					
</manifest>