<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pocketcampus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:name="org.pocketcampus.android.platform.sdk.core.GlobalContext"
        android:theme="@style/PocketCampusTheme" >
        <activity
            android:icon="@drawable/food_icon"
            android:label="Food"
            android:name=".plugin.food.android.FoodMainView" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <action android:name="pocketcampus.intent.action.PLUGIN_MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".plugin.food.android.FoodSuggestionsViewOld" >
        </activity>
        <activity android:name=".plugin.food.android.FoodSuggestionsView" >
        </activity>
        <activity android:name=".plugin.food.android.FoodPreferencesView" >
        </activity>
        <activity android:name=".plugin.food.android.FoodSettings" >
        </activity>

        <service
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="org.pocketcampus.plugin.food.android.FoodController" >
        </service>
    </application>

</manifest>